@font-face {
    font-family: "AvenirNextLTPro";
    src: url('../../../src/Assets/font/AvenirNextLTPro.woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url('../../../src/Assets/font/AvenirNextLTProRegular.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url('../../../src/Assets/font/AvenirNextLTProDemi.woff2');
    font-weight: 700;
    font-style: normal;
}





