@font-face {
    font-family: "AvenirNextLTPro";
    src: url('../../../src/assets/font/AvenirNextLTProDemi.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNextLTPro";
    src: url('../../../src/assets/font/AvenirNextLTProBold.woff2');
    font-weight: 600;
    font-style: normal;
}



