@use "./Styles/Partials/colors";
@use "./Styles/Partials/mixins";
@use "./Styles/Partials/typography";

*, *::before, *::after{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "AvenirNextLTPro";   
  font-size: 1.25rem;    
}

.App {
  text-align: center;
  margin-top: 3.5rem;
}

